import React from 'react';
import PropTypes from 'prop-types';

import * as S from './styles';

const {{ pascalCase name }} = () => {
	return (
	<S.Wrapper>
		<h1></h1>
	</S.Wrapper>
	)
}

{{ pascalCase name }}.propTypes = {

};

{{ pascalCase name }}.defaultProps = {

};

export default {{ pascalCase name }};
